.container {
    width: 100%;
    overflow: hidden;
    background-color: #f2f2f7;
    // background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--small-spacer);
    position: relative;

    .top_blurb {
        //position: absolute;
        right: 0;
        top: 0;
    }
    
    .top_left_blurb {
        //position: absolute;
        left: 0;
        top: 0;
    }
    
    .bottom_blurb {
        //position: absolute;
        right: 0;
        bottom: 0;
    }

    .welcome_text {
        padding: 50px 5% 0px 5%;
        display: flex;
        flex-direction: column;
        gap: var(--tiny-spacer);
        z-index: 1;

        >p {
            color: var(--text-light);
            font-size: .8rem;
            font-weight: 700;
        }
    
        .name_container {
            width: 100%;
    
            >h1 {
                background: #000;
                padding-left: 5px;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            >p {

                font-size: 1.6rem;
                padding-top: 15px;
                padding-left: 10px;
                // text-shadow: 4px 4px 4px rgba(0,0,0,0.31);
            }
        }
    }

.judgecontainer{
    
    .judgingheroes {
        //display: block;
        z-index: 1;
        height: auto;
        align-items: center;
        text-align: center;

        /* background-color: gray;
        display: flex;
        width: 100%;
        z-index: 1;
        padding: 25%; */
    }
}

    .gavel_cow {
/*      position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        z-index: 1;

        .cow_container {
            display: flex;

            .cow {
                height: auto;
                width: 100%;
            }

            .wig {
                height: auto;
                width: 90%;
                position: absolute;
                top: 0;
                left: 0;
                margin-left: -5%;
            }
        } */

        .blurb {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: var(--small-spacer);
            padding: 11px;
            //position: absolute;
            right: var(--small-spacer);
            top: var(--small-spacer);
            // background-color: var(--background-light);
            border-radius: var(--b-radius);

            .intro_text {
                font-size: 1rem;
                font-weight: 500;
            }

            .name {
                font-size: 1.75rem;
                font-weight: 600;
            }
            .bubble_tail {
                position: absolute;
                bottom: -8%;
                left: -2.5%;
                z-index: -1;
            }
        }
    }
}