.container {
    background-color: #f2f2f7;
    padding: 68px 5% 0px 5%;
    

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    button {
        border: solid 1.5px #005271;
        color: black;
        background-color: white;
        border-radius: 8px;
        margin-top: 4%;
        width: 100%;
    }

    .projects {
        background-color: #9EE7E5;
        border-radius: 16px;
        padding: 7%;
    }
}